.body{
    background-color: #39c4b6;
    text-align: center;
}

.main-menu{

    
    color: #fee801;
    background-color: #54c1e6;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

.button {
    background-color: #9a9f17; 
    border: 1px solid;
    border-color: #00060e;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
  }

  .screenshot-display{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screenshot-display img {
    width: 300px;
    margin-bottom: 10px;
  }