<div id="footer-container">
    
    
    <div class="socials">

        <div class="socials-container-individual">
            <a href="https://instagram.com/uncc.breaking" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
            </a>
        </div>
        
        <div class="socials-container-individual">
            <p>Email: <a href="mailto:unccbreaking@gmail.com">unccbreaking@gmail.com</a></p>
        </div>

      </div>
    
    <p>&copy; 2025 UNCC Breaking. Designed by Vladislav Antsypovich.</p>
</div>
