<div id="navbar-main-container">

    <div id="nav-header">
        <button id="nav-toggle">☰</button>
        <header><a href="./">UNCC Breaking</a></header>
    </div>


    <div id="nav-container" class="active">
        <nav>
            <ul>
                <li>
                    <a href="/index.html">Home</a>
                </li>

                <li>
                    <a href="/about.html">About Us</a>
                </li>

                <li>
                    <a href="/events.html">Events</a>
                </li>

                <li>
                    <a href="/gallery.html">Gallery</a>
                </li>

                <li>
                    <a href="/learn.html">Learn</a>
                </li>

                <li>
                    <a href="/contact.html">Contact</a>
                </li>

                <li>
                    <a href="/overview.html">Overview</a>
                </li>

            </ul>
        </nav>
    </div>
</div>


<script>
    let angle = 0; //global variable for nav-toggle angle

    document.getElementById("nav-toggle").addEventListener("click", function() {
        document.getElementById("nav-container").classList.toggle("active");
        document.getElementById("main").classList.toggle("active");
        

        if (angle === 0) {
            angle = 90; 
        } else {
            angle = 0; 
        }

        document.getElementById("nav-toggle").style.transform = `rotate(${angle}deg)`;
        
    });

   
</script>