<nav>
    <a href="https://webpages.charlotte.edu/vantsypo">Charlotte.edu</a>
    ||
    <a href="https://github.com/devantsyp/devantsyp.github.io">Github</a>
    ||
    <a href="https://devantsyp.github.io">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/vantsyp">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/vantsyp">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/vantsyp/">LinkedIn</a>
    
</nav>
<p>Page built by <a href="./valiantarmadillo.co/index.html"> Valiant Armadillo Battle Bots</a>&copy; 2023</p>
<p><em><a href="https://www.freecodecamp.org/certification/vantsyp/responsive-web-design">Certified in Responsive Web Design</a></em></p>

